/* * {
  box-sizing: border-box;
} */
html {
  height: 100vh;
}
body {
  min-height: 100vh;
  max-height: 100vh;
  margin: 0px;
}
.fromParent {
  width: 90%;
  height: 5%;
  position: relative;
  top: 1%;
  margin-left: 5%;
}
.fromContainer {
  width: 100%;
  height: 100%;
  background: rgba(255, 211, 45, 1);
  position: relative;
  overflow: hidden;
}
.fromLabel {
  font-size: 40px;
  width: 35px;
  position: absolute;
  top: 25%;
  left: 3%;
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.fromInput {
  font-size: 40px;
  width: 80%;
  height: 60%;
  margin: 2%;
  background: rgba(255, 255, 255, 1);
  position: sticky;
  left: 25%;
  overflow: hidden; 
}
.swapParent {
  width: 10%;
  height: 6%;
  position: relative;
  top: 4%;
  margin-left: 44%;
  overflow: hidden;
}
.swapContainer {
  width: 100%;
  height: 85%;
  top: 0%;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border-radius: 50%;
}
.swap_img {
  position: relative;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
}
.swap_img:hover {
  cursor: pointer;
}
.toParent {
  box-sizing: border-box;
  width: 90%;
  height: 5%;
  position: relative;
  top: 7%;
  margin-left: 5%;
}
.toContainer {
  width: 100%;
  height: 100%;
  background: rgba(255, 211, 45, 1);
  position: relative;
  overflow: hidden;
}
.toLabel {
  font-size: 40px;
  width: 35px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 25%;
  left: 4%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.toInput {
  width: 80%;
  height: 60%;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 20%;
  left: 18%;
  overflow: hidden;
}
.searchParent {
  width: 20%;
  height: 6%;
  position: relative;
  top: 8.5%;
  margin-left: 40%;
}
.searchParent:hover {
  cursor: pointer;
  box-shadow: 0 6px 15px 0 rgb(255, 221, 1);
}
.searchContainer {
  width: 100%;
  height: 80%;
  background: rgba(255, 211, 45, 1);
  position: sticky;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 75px;
  overflow: hidden;
}
.searchLabel {
  font-size: 40px;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  margin-top: 7%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.apiBox {
  width: 100vw;
  height: 50vh;
  position: absolute;
  bottom: 0vh;
  overflow: hidden;
}
.apiParent {
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
}
#uberApiParent {
  right: 155px;
}
#olaApiParent {
  right: 0px;
}
.apiContainer {
  width: 85%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 43px;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
  border: solid 6px rgba(255, 211, 45, 1);
  border-width: 6px 0px 6px 6px;
}
.apiContainer > .carLogo {
  position: relative;
  top: 50px;
  right: 10px;
  transform: rotate(90deg);
  display: block;
}
.apiContainer > .carItem {
  height: 170px;
  display: none;
}
.logoUber {
  background-image: url("/Media/UberLogo.png");
  background-repeat: no-repeat;
  width: 260px;
  height: 90px;
}
.logoOla {
  background-image: url("/Media/olaLogo.png");
  background-repeat: no-repeat;
  width: 324px;
  height: 100px;
}
.uberUList {
  position: absolute;
  top: 175px;
  left: 75px;
  width: 50px;
  height: 50px;
}
.olaUList {
  position: absolute;
  top: 175px;
  left: 75px;
  width: 50px;
  height: 50px;
}
.apiBtn {
  width: 50px;
  height: 65px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 150px;
  border: 6px solid rgba(255, 211, 45, 1);
  border-right: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
#olaApiBtn {
  top: 200px;
}
.car1 {
  background-image: url("/Media/Olacar3.png");
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
  left: 15px;
  height: 50%;
}
.car2 {
  background-image: url("/Media/olac2.png");
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
  left: 15px;
  height: 65%;
}
.suv {
  background-image: url("/Media/suv.png");
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
  left: 15px;
  height: 65%;
}
.sedan {
  background-image: url("/Media/sedan.png");
  background-repeat: no-repeat;
  position: relative;
  top: 5px;
  left: 5px;
  height: 85px;
}
.uberCarInfo {
  font-size: 35px;
  position: relative;
  left: 350px;
  top: 30px;
  display: block;
  width: 100px;
}
.olaCarInfo {
  position: relative;
  left: 115px;
  top: 18px;
  display: block;
}
.rideSmallText {
  font-size: 25px;
  position: relative;
  left: 20px;
  top: 40px;
  display: flex;
  text-align: center;
}
.seatingText {
  font-size: 39px;
  position: relative;
  left: 150px;
  top: -20px;
  display: inline;
}
.olaSeatingText {
  font-size: 39px;
  position: relative;
  left: 150px;
  top: -18px;
  display: inline;
}
.uberSeatingLogo {
  background-image: url("/Media/passengericon.png");
  background-repeat: no-repeat;
  position: relative;
  top: -170px;
  left: 350px;
  width: 100px;
  height: 50px;
}
.olaSeatingLogo {
  background-image: url("/Media/passengericon.png");
  background-repeat: no-repeat;
  position: relative;
  top: -170px;
  left: 350px;
  height: 50px;
  width: 100px;
}
/* .bkNowBtn {
  background-color: rgba(255, 211, 45, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  color: black;
  border-radius: 20px;
  padding: 5px;
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 170px;
  font-size: 15px;
  font-family: Righteous;
  font-weight: Regular;
}
.bkNowBtn:hover {
  box-shadow: 0 12px 16px 0 rgb(255, 221, 98),
    0 17px 50px 0 rgba(0, 0, 0, 0.085);
  cursor: pointer;
} */
.box {
  position: relative;
  display: inline-block;
  top: -45px;
  left: 500px;
  width: 245px;
  height: 140px;
  text-align: center;
}
.button {
  width: 100%;
  height: 100%;
  font-size: 30px;
  padding: 10px;
  color: black;
  border: 1px solid black;
  background-color: rgba(255, 211, 45, 1);
  border-radius: 60px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin-top: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  height: 11%;
  position: relative;
  /* transition: all 5s ease-in-out; */
}
.content{
  padding-top: 10px;
  font-size: 25px;
  color: #333;
}
.box a{
  color: black;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: rgba(255, 211, 45, 1);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}