/* * {
  box-sizing: border-box;
} */
.fromParent {
  width: 285px;
  height: 30px;
}
.fromParent {
  width: 285px;
  height: 30px;
  position: absolute;
  top: 89px;
  left: 37px;
  overflow: hidden;
}
.fromContainer {
  width: 285px;
  height: 30px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.fromLabel {
  width: 35px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 5px;
  left: 6px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.fromInput {
  width: 227px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 51px;
  overflow: hidden;
}
.swapParent {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 140px;
  left: 160px;
  overflow: hidden;
}
.swapContainer {
  width: 50px;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border-radius: 60%;
}
.swap_img {
  position: relative;
  top: 2px;
  width: 30px;
  height: 30px;
}
.swap_img:hover{
  cursor: pointer;
}
.toParent {
  width: 285px;
  height: 30px;
  position: absolute;
  top: 200px;
  left: 37px;
  overflow: hidden;
}
.toContainer {
  width: 285px;
  height: 30px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.toLabel {
  width: 17px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 5px;
  left: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.toInput {
  width: 227px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 51px;
  overflow: hidden;
}
.searchParent {
  width: 75px;
  height: 37px;
  position: absolute;
  top: 268px;
  left: 143px;
  overflow: hidden;
}
.searchContainer {
  width: 74px;
  height: 35px;
  background: rgba(255, 211, 45, 1);
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 75px;
  overflow: hidden;
}
.searchLabel {
  width: 57px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 9px;
  left: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.apiBox {
  width: 360px;
  height: 469px;
  position: absolute;
  top: 331px;
  left: 0px;
  overflow: hidden;
}
.apiParent{
  width: 88px;
  height: 469px;
  position: absolute;
  top: 0px;
  overflow: hidden;
}
#uberApiParent {
  left: 212px;
}
#revvApiParent {
  left: 272px;
}
.apiContainer{
  width: 61px;
  height: 469px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 27px;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
  border: solid 8px rgba(255, 211, 45, 1);
}

.apiContainer>.carLogo{
  position: relative;
  top:50px;
  transform: rotate(90deg);
  display:block;
}

.apiContainer>.carItem{
  display: none;
  text-align: center;
}
.uberUList{
  position: absolute;
  top: 175px;
  left: 75px;
  width: 50px;
  height: 50px;
}
.revvUList{
  position: absolute;
  top: 175px;
  left: 75px;
  width: 50px;
  height: 50px;
}
.apiBtn{
  width: 27px;
  height: 36px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 150px;
  border: 8px solid rgba(255, 211, 45, 1);
  border-right: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
#revvApiBtn{
  top: 200px;
}