/* * {
  box-sizing: border-box;
} */
.nameParent {
  width: 285px;
  height: 30px;
  position: absolute;
  top: 76px;
  left: 37px;
  overflow: hidden;
}
.nameContainer {
  width: 285px;
  height: 30px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.nameLabel {
  width: 39px;
  position: absolute;
  top: 5px;
  left: 7px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.nameInput {
  width: 227px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 51px;
  overflow: hidden;
}
.emailParent {
  width: 285px;
  height: 30px;
  position: absolute;
  top: 122px;
  left: 37px;
  overflow: hidden;
}
.emailContainer {
  width: 285px;
  height: 30px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.emailLabel {
  width: 55px;
  position: absolute;
  top: 6px;
  left: 7px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.emailInput {
  width: 211px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 67px;
  overflow: hidden;
}
.categoryParent {
  width: 285px;
  height: 30px;
  position: absolute;
  top: 166px;
  left: 37px;
  overflow: hidden;
}
.categoryContainer {
  width: 285px;
  height: 30px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.categoryLabel {
  width: 72px;
  position: absolute;
  top: 6px;
  left: 3px;
  text-align: center;
}
.categoryInput {
  width: 200px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 6px;
  left: 77px;
  overflow: hidden;
}
select{
  width: 200px;
  height: 19px;
  outline: none;
  border: none;
  font-size: 12px;
  font-weight: bold;
} 
option{
  background-color: rgba(255, 211, 45, 1);
  color: black;
}
.textareaParent {
  width: 285px;
  height: 314px;
  position: absolute;
  top: 257px;
  left: 37px;
  overflow: hidden;
}
.textareaContainer {
  width: 285px;
  height: 314px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.textareaInput {
  width: 271px;
  height: 298px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 9px;
  left: 7px;
  overflow: hidden;
  font-size: 12px;
  font-family: Righteous;
  font-weight: 100;
}
#complaint{
  font-size: 12px;
  font-family: Righteous;
  font-weight:100;
}
.attachssParent {
  width: 197px;
  height: 35px;
  position: absolute;
  top: 595px;
  left: 81px;
  overflow: hidden;
}
.attachssParent:hover{
  cursor: pointer;
}
.attachssContainer {
  width: 197px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.attachssChild {
  width: 197px;
  height: 35px;
  background: rgba(255, 211, 45, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 75px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.attachssLabel {
  width: 146px;
  position: absolute;
  top: 8px;
  left: 12px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.imgParent {
  width: 25px;
  height: 23px;
  position: absolute;
  top: 6px;
  left: 158px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.imgContainer {
  width: 25px;
  height: 23px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.submitcParent {
  width: 175px;
  height: 40px;
  position: absolute;
  top: 683px;
  left: 95px;
  overflow: hidden;
}
.submitcContainer {
  width: 170px;
  height: 35px;
  background: rgba(255, 211, 45, 1);
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.submitcLabel {
  width: 146px;
  position: absolute;
  top: 9px;
  left: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.submitcParent:hover{
  cursor: pointer;
}
.icon {
  position: relative;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
}
.icon:hover{
  cursor: pointer;
}