* {
  box-sizing: border-box;
}
.From_Container {
  width: 285px;
  height: 106px;
  position: absolute;
  top: 167px;
  left: 37px;
  overflow: hidden;
}
.From_DropYellow {
  width: 240px;
  height: 82px;
  background: rgba(255, 211, 45, 1);
  position: absolute;
  top: 24px;
  left: 45px;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.From_MainRectangle {
  width: 285px;
  height: 24px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.From_Text {
  width: 35px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3px;
  left: 6px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.From_TextDropDown {
  width: 227px;
  height: 79px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 22px;
  left: 51px;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.From_MainTextBox {
  width: 227px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 3px;
  left: 51px;
  overflow: hidden;
}
.From_GPS {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 262px;
  overflow: hidden;
}
.Swap_MainBox {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 319px;
  left: 154px;
  overflow: hidden;
}
.Swap_Circle {
  width: 50px;
  height: 50px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border-radius: 50%;
}
.swap_img {
  position: relative;
  top: 10px;
  left: 9px;
  width: 30px;
  height: 30px;
}
.To_Container {
  width: 285px;
  height: 110px;
  position: absolute;
  top: 452px;
  left: 37px;
  overflow: hidden;
}
.To_DropYellowBox {
  width: 240px;
  height: 87px;
  background: rgba(255, 211, 45, 1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 45px;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.To_TextDropDown {
  width: 227px;
  height: 79px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 24px;
  left: 51px;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.To_MainRectangle {
  width: 285px;
  height: 24px;
  background: rgba(255, 211, 45, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.To_MainTextBox {
  width: 227px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 51px;
  overflow: hidden;
}
.To_Text {
  width: 17px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2px;
  left: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.To_GPS {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: 262px;
  overflow: hidden;
}
.SnC_Box {
  width: 170px;
  height: 35px;
  position: absolute;
  top: 577px;
  left: 95px;
  overflow: hidden;
}
.SnC_Container {
  width: 170px;
  height: 35px;
  background: rgba(255, 211, 45, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  overflow: hidden;
}
.SnC_Text_Container {
  width: 146px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 12px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.Loading_Gif_Container {
  width: 256px;
  height: 36px;
  position: absolute;
  top: 649px;
  left: 52px;
  overflow: hidden;
}
.Loading_Gif {
  width: 256px;
  height: 36px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
