* {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: Righteous;
  font-weight: Regular;
}

.black_left_border {
  border-left: black solid 2px;
  height: 100%;
  padding-top: 16px;
  padding-left: 5px;
}

.parent {
  width: 360px;
  height: 800px;
  background: rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.bgContainer {
  width: 360px;
  height: 751px;
  position: absolute;
  top: 49px;
  overflow: hidden;
}
.map {
  width: 360px;
  height: 751px;
  background: url("/Map.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.9;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.maptint {
  width: 360px;
  height: 751px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #072227;
  opacity: 0.9;
}

.navbarParent {
  width: 360px;
  height: 50px;
  position: relative;
  overflow: hidden;
}
.navbarContainer {
  width: 360px;
  height: 49px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.comAgg {
  width: 82px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 6px;
  left: 9px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.platforms {
  width: 70px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 145px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.contactUs {
  width: 69px;
  padding-top: 10px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 230px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.login {
  width: 39px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 305px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.fromParent {
  width: 285px;
  height: 30px;
  position: absolute;
  top: 89px;
  left: 37px;
  overflow: hidden;
}
.fromContainer {
  width: 285px;
  height: 30px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.fromLabel {
  width: 35px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 5px;
  left: 6px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.fromInput {
  width: 227px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 51px;
  overflow: hidden;
}
.toParent {
  width: 285px;
  height: 30px;
  position: absolute;
  top: 222px;
  left: 37px;
  overflow: hidden;
}
.toContainer {
  width: 285px;
  height: 30px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.toInput {
  width: 227px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 51px;
  overflow: hidden;
}
.toLabel {
  width: 17px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 5px;
  left: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.apiParent {
  width: 360px;
  height: 469px;
  position: absolute;
  top: 331px;
  left: 0px;
  overflow: hidden;
}

.uberApiParent {
  width: 100px;
  height: 469px;
  position: absolute;
  top: 0px;
  left: 225px;
  overflow: hidden;
}
.uberApiContainer {
  width: 100px;
  height: 469px;
  left: 0px;
  background: rgba(255, 255, 255, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.uberApiBtn {
  width: 27px;
  height: 36px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 150px;
  left: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}

.revvApiParent {
  width: 88px;
  height: 469px;
  position: absolute;
  top: 0px;
  left: 272px;
  overflow: hidden;
}
.revvApiContainer {
  width: 61px;
  height: 469px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 27px;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.revvApiBtn {
  width: 27px;
  height: 36px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 150px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
