* {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: Righteous;
  font-weight: Regular;
}
.parent {
  width: 360px;
  height: 800px;
  background: rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.navbarParent {
  width: 360px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.black_left_border {
  border-left: black solid 2px;
  padding-top: 16px;
  height: 100%;
  padding-left: 5px;
}

.navbarContainer {
  width: 360px;
  height: 49px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.comAgg {
  width: 82px;
  position: absolute;
  top: 6px;
  left: 9px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.platforms {
  width: 70px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 145px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.contactUs {
  width: 69px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  left: 230px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.login {
  width: 39px;
  position: absolute;
  top: 0px;
  left: 305px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.bgContainer {
  width: 360px;
  height: 751px;
  position: absolute;
  top: 49px;
  left: 0px;
  overflow: hidden;
}

.map {
  width: 360px;
  height: 751px;
  background: url("Map.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.9;
  position: absolute;
  overflow: hidden;
}
.maptint {
  width: 360px;
  height: 751px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #072227;
  opacity: 0.9;
}

.nameParent {
  width: 285px;
  height: 30px;
  position: absolute;
  top: 76px;
  left: 37px;
  overflow: hidden;
}
.nameContainer {
  width: 285px;
  height: 30px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.nameLabel {
  width: 39px;
  position: absolute;
  top: 5px;
  left: 7px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.nameInput {
  width: 227px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 51px;
  overflow: hidden;
}

.categoryParent {
  width: 285px;
  height: 30px;
  position: absolute;
  top: 166px;
  left: 37px;
  overflow: hidden;
}
.categoryContainer {
  width: 285px;
  height: 30px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.categoryLabel {
  width: 109px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 6px;
  left: 169px;
  overflow: hidden;
}
.categoryInput {
  width: 166px;
  position: absolute;
  top: 6px;
  left: 3px;
  text-align: center;
}
.emailParent {
  width: 285px;
  height: 30px;
  position: absolute;
  top: 122px;
  left: 37px;
  overflow: hidden;
}
.emailContainer {
  width: 285px;
  height: 30px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.emailLabel {
  width: 55px;
  position: absolute;
  top: 6px;
  left: 7px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.emailInput {
  width: 211px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 67px;
  overflow: hidden;
}
.ssViewParent {
  width: 285px;
  height: 314px;
  position: absolute;
  top: 257px;
  left: 37px;
  overflow: hidden;
}
.ssViewContainer {
  width: 285px;
  height: 314px;
  background: rgba(255, 211, 45, 1);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
.ssViewInput {
  width: 271px;
  height: 298px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 9px;
  left: 7px;
  overflow: hidden;
}
.submitcParent {
  width: 170px;
  height: 35px;
  position: absolute;
  top: 683px;
  left: 95px;
  overflow: hidden;
}
.submitcContainer {
  width: 170px;
  height: 35px;
  background: rgba(255, 211, 45, 1);
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.submitcLabel {
  width: 146px;
  position: absolute;
  top: 8px;
  left: 12px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.attachssParent {
  width: 197px;
  height: 35px;
  position: absolute;
  top: 595px;
  left: 81px;
  overflow: hidden;
}
.attachssContainer {
  width: 197px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.attachssChild {
  width: 197px;
  height: 35px;
  background: rgba(255, 211, 45, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 75px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.attachssLabel {
  width: 146px;
  position: absolute;
  top: 8px;
  left: 12px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.imgParent {
  width: 25px;
  height: 23px;
  position: absolute;
  top: 6px;
  left: 158px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.imgContainer {
  width: 25px;
  height: 23px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
}
