* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v1_2 {
    width: 360px;
    height: 800px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v36_11 {
    width: 360px;
    height: 751px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 0px;
    overflow: hidden;
}

.v1_28 {
    width: 360px;
    height: 751px;
    background: url("Map.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.maptint{
    width: 360px;
    height: 751px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #072227;
    opacity: 0.90;
  }

.v36_8 {
    width: 285px;
    height: 110px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 452px;
    left: 37px;
    overflow: hidden;
}

.v36_7 {
    width: 240px;
    height: 87px;
    background: rgba(255, 211, 45, 1);
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 45px;
    border: 1px solid rgba(0, 0, 0, 1);
    overflow: hidden;
}

.v5_56 {
    width: 227px;
    height: 79px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 51px;
    border: 1px solid rgba(0, 0, 0, 1);
    overflow: hidden;
}

.v1_20 {
    width: 285px;
    height: 24px;
    background: rgba(255, 211, 45, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    overflow: hidden;
}

.v1_21 {
    width: 227px;
    height: 19px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 51px;
    overflow: hidden;
}

.v1_22 {
    width: 17px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 2px;
    left: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Righteous;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v34_2 {
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 262px;
    overflow: hidden;
}

.v26_4 {
    width: 360px;
    height: 153px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    overflow: hidden;
}

.v36_9 {
    width: 85px;
    height: 104px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 148px;
    overflow: hidden;
}

.v4_30 {
    width: 85px;
    height: 104px;
    background: rgba(255, 211, 45, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.v4_32 {
    width: 34px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 8px;
    left: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Righteous;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v4_37 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 43px;
    left: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Righteous;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v4_38 {
    width: 34px;
    color: rgba(10, 10, 10, 1);
    position: absolute;
    top: 75px;
    left: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Righteous;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v1_6 {
    width: 360px;
    height: 49px;
    background: rgba(255, 211, 45, 1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    overflow: hidden;
}

.v1_7 {
    width: 82px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 6px;
    left: 9px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Righteous;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

/* Nav Bar */

.black_left_border{
    border-left: black solid 2px;
    height: 100%;
    padding-top: 16px;
    padding-left: 5px;
  }  

.v1_10 {
    width: 69px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 156px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Righteous;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v1_12 {
    width: 69px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 235px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Righteous;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: center;
}

.v1_14 {
    width: 39px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 314px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Righteous;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v26_5 {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 319px;
    left: 154px;
    overflow: hidden;
}

.v1_23 {
    width: 50px;
    height: 50px;
    background: rgba(255, 211, 45, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

.v1_25 {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
}

.v25_123 {
    width: 170px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 577px;
    left: 95px;
    overflow: hidden;
}

.v1_26 {
    width: 170px;
    height: 35px;
    background: rgba(255, 211, 45, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    overflow: hidden;
}

.v1_27 {
    width: 146px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 8px;
    left: 12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Righteous;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v36_10 {
    width: 256px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 649px;
    left: 52px;
    overflow: hidden;
}

.v5_61 {
    width: 256px;
    height: 36px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v5_94 {
    width: 256px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    overflow: hidden;
}

.v36_5 {
    width: 285px;
    height: 106px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 167px;
    left: 37px;
    overflow: hidden;
}

.v36_4 {
    width: 240px;
    height: 82px;
    background: rgba(255, 211, 45, 1);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 45px;
    border: 1px solid rgba(0, 0, 0, 1);
    overflow: hidden;
}

.v1_17 {
    width: 285px;
    height: 24px;
    background: rgba(255, 211, 45, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    overflow: hidden;
}

.v1_15 {
    width: 35px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 3px;
    left: 6px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Righteous;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v5_44 {
    width: 227px;
    height: 79px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 51px;
    border: 1px solid rgba(0, 0, 0, 1);
    overflow: hidden;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v1_19 {
    width: 227px;
    height: 19px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 51px;
    overflow: hidden;
}

.v34_3 {
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 262px;
    overflow: hidden;
}